
table, td, tr {
  border:1px solid rgb(209,211,206);
  background-color: rgb(249,251,246);
}

td {
  background-repeat: no-repeat;
  background-size: 100%;
}

td:hover {
  border: solid rgb(132, 132, 248);
  cursor: pointer;
  /* background-image: url("./images/o.png"); */
}

table {
  border-collapse: 1px;
}

#menu {
  border: 1px solid gray;
  margin-top: 120px;
  display: none;
}

#chat {
  display: none;
}

#boad {
  display: none;
}

#form, #list-room {
  margin: auto 0;
}


#list-room {
  text-align: center;
  margin-top: 20px;
}

.choose-cell {
  border: solid rgb(138, 250, 138);
}

.x {
  background-image: url("../images/x.png");
}
.o {
  background-image: url("../images/o.png");
}

#input {
  margin-bottom: 20px;
}
#top-content {
  opacity: 0.6;
  color: #2f2222;
  text-align: center;
  width: 100px;
  position: fixed;
  left: 50%;
  background-color: orange;
  line-height: 25px;
}

#chat-box {
  position: fixed;
  top: 50px;
  opacity: 0.5;
  background-color: rgb(217, 217, 235);
  width: 150px;
  text-align: center;
  font-size: 12px;
}

#chat-title {
  line-height: 30px;
  border: 1px solid purple;
}

#content {
  width: 95%;
  height: 150px;
  background-color: whitesmoke;
  margin: auto;
  overflow: auto;
}

#msg {
  width: 90%;
  /* size: 18px; */
}

#btn-send {
  float: right;
  margin-bottom: 2px;
  margin-right: 5%;
  cursor: pointer;
  /* size: 18px; */
}


#new-game {
  float: left;
  margin-bottom: 2px;
  margin-left: 5%;
  cursor: pointer;
}

.box-notify {
  width: 50%;
  height: 100px;
  position: fixed;
  background-color: whitesmoke;
  /* display: none; */
  left: 25%;
  top: 30px;
  border: 1px solid rgb(245, 176, 176);
  border-radius: 5px;
}

#request {
  display: none;
}
#notify {
  display: none;
}

#request-content {
  position: relative;
  top: 10px;
  top: 10px;
  text-align: center;
}

#request-option {
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn-request {
  margin-right: 10px;
  border: blue !important;
}